asgiref==3.11.0 ; python_version >= "3.12"
django==5.2.8 ; python_version >= "3.12"
mysqlclient==2.2.7 ; python_version >= "3.12"
sqlparse==0.5.4 ; python_version >= "3.12"
tzdata==2025.2 ; python_version >= "3.12" and sys_platform == "win32"
