{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ScentSpot | 香香補給站</title>

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{% static 'icons/favicon.png' %}">

  <!-- CSS -->
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="min-h-screen flex flex-col">

  {% block navbar %}
    {% include "components/navbar.html" %}
  {% endblock %}

  <main class="flex-1">
    {% block content %}{% endblock %}
  </main>

  {% include "components/footer.html" %}

  <script src="{% static 'js/alerts.js' %}"></script>
</body>
</html>
